.App {
    text-align: center;
}
.btn-submit {
    background-color: #2e1e30;
    color: #fb5581;
    font-weight: 700;
    padding: 2% 5%;
    border-radius: 8px;
    outline: 0;
    border: 0;
    margin-left: 1%;
}
body {
    background-color: #161625;
    /* background-color: #212121; */
    color: white;
}
.input-group {
    width: 40% !important;
}
.input-group-text {
    background-color: #1e1e30;
    border: #1e1e30;
}
.input-group > .custom-file,
.input-group > .custom-select,
.input-group > .form-control {
    background-color: #1e1e30 !important;
    border: #161625;
    border-radius: 8px;
    /* box-shadow: 1px 1px 50px 10px #212121; */
}
.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
